<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:label="RootBoard"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="RootBoard: Virtual mic soundboard. Hooks AudioRecord to play sounds into any app." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
